<div class="projects">
  <h4 class="tui-text_h4">My Projects</h4>
  <tui-carousel
      [itemsCount]="3"
      [(index)]="index"
  >
      <ng-container *ngFor="let item of repos">
          <div
              *tuiItem
              class="item"
          >
          <app-repo [repo]="item"></app-repo> 
          </div>
      </ng-container>
  </tui-carousel>
  <tui-pagination
      size="s"
      class="tui-space_top-4"
      [index]="rounded"
      [length]="repos.length / itemsCount"
      (indexChange)="onIndex($event)"
  ></tui-pagination>
  
</div>
