<tui-island size="l" textAlign="center" class="island">
  <div class="tui-island__content">
    <div class="island_elements">
      <h3 class="tui-island__title">{{ repo.name }}</h3>
      <p class="tui-island__paragraph">
        {{ repo.description }}
      </p>
      <div *ngIf="repo.topics" class="topics">
        <li *ngFor="let topic of repo.topics">
          <tui-badge
            size="l"
            status="primary"
            [hoverable]="true"
            value="{{ topic }}"
          ></tui-badge>
        </li>
      </div>
      <a href="{{ repo.html_url }}" target="_blank" rel="noopener noreferrer">
        <button
          icon="tuiIconGithub"
          tuiIconButton
          type="button"
          appearance="outline"
          class="tui-space_right-3 tui-space_bottom-3"
        ></button>
      </a>
      <a
        *ngIf="repo.homepage"
        href="{{ repo.homepage }}"
        target="_blank"
        rel="noopener noreferrer"
      >
        <button
          icon="tuiIconLink"
          tuiIconButton
          type="button"
          appearance="outline"
          class="tui-space_right-3 tui-space_bottom-3"
        ></button>
      </a>

    </div>
  </div>
</tui-island>
