<tui-root>
  <header tuiNavigationHeader>
    <span tuiNavigationLogo>
      <tui-icon icon="tuiIconTerminalLarge"></tui-icon>
      frapiocov
    </span>
  </header>
  <main tuiNavigationMain>
    <div class="root">
      <div class="hello">
        <h1 class="tui-text_h1">
          Hello 🖖 i'm Pio,<br />
          a developer
        </h1>
        <p class="tui-text_body-xl">
          Wannabe Full Stack Developer 👾 <br />
          Actually a Master Degree student 📚
        </p>
        <button
          size="l"
          iconRight="tuiIconDownload"
          appearance="outline"
          tuiButton
          type="button"
          (click)="showCV(actions)"
          class="tui-space_right-3 tui-space_bottom-3"
        >
          CV
        </button>

        <!--- sezione link -->
        <a href="https://github.com/frapiocov" target="_blank" rel="noopener noreferrer">
          <button
            icon="tuiIconGithubLarge"
            tuiIconButton
            type="button"
            appearance="outline"
            class="tui-space_right-3 tui-space_bottom-3"
          ></button>
        </a>

        <a href="mailto:francescop.covino@gmail.com" target="_blank" rel="noopener noreferrer">
          <button
            icon="tuiIconMailLarge"
            tuiIconButton
            type="button"
            appearance="outline"
            class="tui-space_right-3 tui-space_bottom-3"
          ></button>
        </a>

        <a href="phoneto:+393207775383" target="_blank" rel="noopener noreferrer">
          <button
            icon="tuiIconPhoneCallLarge"
            tuiIconButton
            type="button"
            appearance="outline"
            class="tui-space_right-3 tui-space_bottom-3"
          ></button>
        </a>

        <a href="https://www.linkedin.com/in/francesco-pio-covino-583128217/" target="_blank" rel="noopener noreferrer">
          <button
            icon="tuiIconLinkedinLarge"
            tuiIconButton
            type="button"
            appearance="outline"
            class="tui-space_right-3 tui-space_bottom-3"
          ></button>
        </a>

        

        <ng-template #actions let-content="content">
          <a download shape="rounded" size="s" tuiButton [href]="content">
            Download
          </a>
        </ng-template>
      </div>

      <!-- <div class="projects">
        <button
          iconRight="tuiIconFolder"
          appearance="flat"
          size="l"
          tuiButton
          type="button"
          class="tui-space_right-3 tui-space_bottom-3"
        >
          Projects
        </button>
        <button
          iconRight="tuiIconClock"
          appearance="flat"
          size="l"
          tuiButton
          type="button"
          class="tui-space_right-3 tui-space_bottom-3"
        >
          My Journey
        </button>
        <button
          iconRight="tuiIconBriefcase"
          appearance="flat"
          size="l"
          tuiButton
          type="button"
          class="tui-space_right-3 tui-space_bottom-3"
        >
          Experience
        </button>
      </div> -->

    </div>
  </main>
</tui-root>
