main {
  background-color: var(--tui-base-01);
  text-align: center;
}

.root {
  display: inline-block;
  justify-content: center;
  align-items: center;
  font-family: Roboto, sans-serif;
  padding: 2rem;
}

.nav {
  margin: 0.3rem;
  justify-content: center;
}

.hello {
 padding: 1rem;
}

.hello h1{
    color: var(--tui-text-01)
}
