

.root {
  display: inline-block;
  justify-content: center;
  align-items: center;
  font-family: Roboto, sans-serif;
  padding: 2rem;
}

.nav {
  display: flex;
  margin: 0.3rem;
  justify-content: center;
}

.hello {
 background-color: var(--tui-base-02);
 padding: 1rem;
}

.hello h1{
    color: var(--tui-text-01)
}

li{
  list-style-type: none;
}